body {
  background-image: url('./assets/dust_scratches.png');
}

h1 {
  text-align: center;
}

p {
  text-align: left;
}

img {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
}

h2 {
  text-align: center;
}