body {
  background-image: url('./assets/dust_scratches.png');
}


.jumbotron {
  background-image: url('./assets/dust_scratches.png');
  border-bottom: solid;
  border-color: black;
  border-width: 2px;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
}

img {
  height: 250px;
  width: 250px;
}

.col-md-3 {
  border: black;
  border-style: solid;
}

.col-md-9 {
  border: black; 
  border-style: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 768px) {
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
}